.btn {display:none}
.btn * {background-image:url(https://git123hub.github.io/images/btn-ascii-20161105a.png);height:27px;width:8px;background-position-y:0;float:left;display:inline-block}
.btn .ul {background-position-y:-27px} .btn .bef {background-position-x:0;width:4px} .btn .aft {background-position-x:-764px;width:4px}
.btn:active * {background-image:url(https://git123hub.github.io/images/btn-ascii-20161105b.png)}
.c0 {background-position-x:-4px}
.c1 {background-position-x:-12px}
.c2 {background-position-x:-20px}
.c3 {background-position-x:-28px}
.c4 {background-position-x:-36px}
.c5 {background-position-x:-44px}
.c6 {background-position-x:-52px}
.c7 {background-position-x:-60px}
.c8 {background-position-x:-68px}
.c9 {background-position-x:-76px}
.c10 {background-position-x:-84px}
.c11 {background-position-x:-92px}
.c12 {background-position-x:-100px}
.c13 {background-position-x:-108px}
.c14 {background-position-x:-116px}
.c15 {background-position-x:-124px}
.c16 {background-position-x:-132px}
.c17 {background-position-x:-140px}
.c18 {background-position-x:-148px}
.c19 {background-position-x:-156px}
.c20 {background-position-x:-164px}
.c21 {background-position-x:-172px}
.c22 {background-position-x:-180px}
.c23 {background-position-x:-188px}
.c24 {background-position-x:-196px}
.c25 {background-position-x:-204px}
.c26 {background-position-x:-212px}
.c27 {background-position-x:-220px}
.c28 {background-position-x:-228px}
.c29 {background-position-x:-236px}
.c30 {background-position-x:-244px}
.c31 {background-position-x:-252px}
.c32 {background-position-x:-260px}
.c33 {background-position-x:-268px}
.c34 {background-position-x:-276px}
.c35 {background-position-x:-284px}
.c36 {background-position-x:-292px}
.c37 {background-position-x:-300px}
.c38 {background-position-x:-308px}
.c39 {background-position-x:-316px}
.c40 {background-position-x:-324px}
.c41 {background-position-x:-332px}
.c42 {background-position-x:-340px}
.c43 {background-position-x:-348px}
.c44 {background-position-x:-356px}
.c45 {background-position-x:-364px}
.c46 {background-position-x:-372px}
.c47 {background-position-x:-380px}
.c48 {background-position-x:-388px}
.c49 {background-position-x:-396px}
.c50 {background-position-x:-404px}
.c51 {background-position-x:-412px}
.c52 {background-position-x:-420px}
.c53 {background-position-x:-428px}
.c54 {background-position-x:-436px}
.c55 {background-position-x:-444px}
.c56 {background-position-x:-452px}
.c57 {background-position-x:-460px}
.c58 {background-position-x:-468px}
.c59 {background-position-x:-476px}
.c60 {background-position-x:-484px}
.c61 {background-position-x:-492px}
.c62 {background-position-x:-500px}
.c63 {background-position-x:-508px}
.c64 {background-position-x:-516px}
.c65 {background-position-x:-524px}
.c66 {background-position-x:-532px}
.c67 {background-position-x:-540px}
.c68 {background-position-x:-548px}
.c69 {background-position-x:-556px}
.c70 {background-position-x:-564px}
.c71 {background-position-x:-572px}
.c72 {background-position-x:-580px}
.c73 {background-position-x:-588px}
.c74 {background-position-x:-596px}
.c75 {background-position-x:-604px}
.c76 {background-position-x:-612px}
.c77 {background-position-x:-620px}
.c78 {background-position-x:-628px}
.c79 {background-position-x:-636px}
.c80 {background-position-x:-644px}
.c81 {background-position-x:-652px}
.c82 {background-position-x:-660px}
.c83 {background-position-x:-668px}
.c84 {background-position-x:-676px}
.c85 {background-position-x:-684px}
.c86 {background-position-x:-692px}
.c87 {background-position-x:-700px}
.c88 {background-position-x:-708px}
.c89 {background-position-x:-716px}
.c90 {background-position-x:-724px}
.c91 {background-position-x:-732px}
.c92 {background-position-x:-740px}
.c93 {background-position-x:-748px}
.c94 {background-position-x:-756px}
