body {
  background-color: #eeeeee;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  padding: 10px;
  font-size: 11px; }

a {
  color: #333; }
  a:hover {
    text-decoration: none; }

#head {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none; }

#page_head {
  font-size: 20px;
  padding: 10px;
  padding-left: 0px; }

#head_holder {
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  border-bottom: 3px double black; }
